* {padding: 0px; margin: 0px;}

header {
    font-family: "cursive", lucida handwriting;
    font-size: 27px;
    padding: 70px;
    text-align: center;
    background-color: rgb(90, 86, 86);
}  

nav {
background-color: black;
}

nav ul {
    padding: 25px;
    /* por dropdown na opçao maquinas para por o tipo de maquina */
    /* por dropdown na opçao piercings para por o tipo de piercing */
    

}

nav li {
display: inline-block;
text-align: center;
margin-right: 50px;
margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: gold;
    padding: 27px;
}

h2 {
    font-size: 27px;
    
}