* {padding: 0px; margin: 0px;}

header {
    font-family: "cursive", lucida handwriting;
    font-size: 27px;
    padding: 70px;
    text-align: center;
    background-color: rgb(90, 86, 86);
}  

nav {
background-color: black;
}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    /* por dropdown na opçao maquinas para por o tipo de maquina */
    /* por dropdown na opçao piercings para por o tipo de piercing */
    

}

li {
    float: left;

}

li a, .dropbtn {
    display: inline-block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }